echo ".DS_Store" >> .gitignore
echo "*.swp" >> .gitignore
.config/fish/
.config/htop/
.config/spotify/
.config/dconf/
.config/pulse/
.config/systemd/
.config/neofetch/
.config/KTailctlrc
.config/mimeapps.list
.config/spicetify
.config/kitty
