* {
  font-family: JuliaMono;
  font-size: 16px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: #282828;
  color: #ffffff;
}

#workspaces {
  margin: 0px;
  background: #282828;
}

#workspaces button {
  color: #707070;
}

#workspaces button.active {
  color: #ffffff;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  background-color: #282828;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 0px 5px 5px 0px;
}

#memory {
  border-radius: 0px 0px 0px 0px;
}

#clock {
  color: #ffffff;
}

#battery {
  color: #ffffff;
}

#battery.charging {
  color: #ffffff;
}

#battery.warning:not(.charging) {
  color: #ffffff;
}

#backlight {
  color: #ffffff;
}

#backlight,
#battery {
  color: #ffffff;
}

#pulseaudio {
  color: #ffffff;
}

#custom-music {
  color: #ffffff;
}

#custom-lock {
  color: #ffffff;
}

#custom-power {
  color: #ffffff;
}

#tray {
  color: #ffffff;
}
