:root {
	--aqua: #689d6a;
	--black: #282828;
	--black_gb: #282828;
	--blue: #458588;
	--gray: #a89984;
	--green: #98971a;
	--orange: #fe8019;
	--purple: #b16286;
	--red: #cc241d;
	--yellow: #d79921;
	--white: #ebdbb2;
}

:root {
  scrollbar-width: none !important;
}

@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
      background: var(--black) !important;
    }
  }

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}
